@model RentCar.Models.CarTransmissionTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Автомобили</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<form asp-controller="Cars" asp-action="Index" method="get">
    <p>

        <select asp-for="CarType" asp-items="Model.Type">
            <option value="">All</option>
        </select>

        <label>Title: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars![0].CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars![0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars![0].TransmissionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars![0].RentalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cars!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransmissionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
